{% extends 'base.html' %}
{block title}To-do List{endblock}

{% block content %}
    {% if allitems %}
         <table class= "table table-striped table-success table-bordered">
             {% for work in allitems %}
                {% if work.completed %}
                    <tr class='table-primary'>
                     <td class="striker">{{work.item}}</td>
                     <td><center>{{work.date}}</center></td>
                     <td><center>{{work.completed}}</center></td>
                    <tr>
                {% else %}
                    <tr>
                     <td>{{work.item}}</td>
                     <td><center>{{work.date}}</center></td>
                     <td><center>{{work.completed}}</center></td>
                    <tr> 
                {% endif %}       
              {% endfor %}
         <table>
    {% endif %}
{% endblock %}